@page "/history"
<PageTitle>History</PageTitle>


<h3>History</h3>
@if (HandHistoryList.Count == 0)
{
    <p>Loading...</p>
}
else 
{

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Round</th>
                <th scope="col">1</th>
                <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
                <th scope="col">5</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in HandHistoryList)
            {
                <tr>
                    <td> @item.Round</td>
                    <td><img src="@item.CardImgUrlOne" style="width:50px; height:70px;" /></td>
                    <td><img src="@item.CardImgUrlTwo" style="width:50px; height:70px;" /></td>
                    <td><img src="@item.CardImgUrlThree" style="width:50px; height:70px;" /></td>
                    <td><img src="@item.CardImgUrlFour" style="width:50px; height:70px;" /></td>
                    <td><img src="@item.CardImgUrlFive" style="width:50px; height:70px;" /></td>
                </tr>
            }
        </tbody>
    </table>
}
